@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  border: 0;
  margin: 0;
  box-sizing: none;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}
body {
  background-color: black;
  color: white;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 12px;
}
button {
  border: none;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Stay in place while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  color: #6f53b1;
  background-color: #433e886e;
  font-size: 3em; /* Initial large size */
  height: 100vh; /* Initial full viewport height */
  transition: height 0.1s ease-out, font-size 0.1s ease-out; /* Smooth transition */
  z-index: 10; /* Ensure it stays above other content */
  border-bottom: #2c091b 8px double;
}

/* .landing-page {
  position: relative;
  padding: 40px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.4em;
} */

/* .landing-page__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.content-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.main-content {
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
}
.main__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  background-image: url(./assets/BackgroundExample.png);
  background-repeat: repeat;
}

.sidebar {
  position: sticky;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #08130fce;
  padding: 40px 40px;
  width: 23vw;
  left: 0;
  top: 0;
  border-radius: 0 8px 8px 0;
  box-shadow: inset 0 0 24px 8px #30cc3d23;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}
.profile__styling-1 {
  border-radius: 50%;
  box-shadow: 0 0 40px 20px #46288d;
  margin: 12px;
}
.profile__styling-2 {
  border-radius: 50%;
  box-shadow: 0 0 28px 8px #5738a0;
  margin: 20px;
}
.profile__img--wrapper {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  max-width: 200px;
}
.profile__img {
  width: 100%;
  height: 100%;
}
.info {
  margin-top: 12px;
  margin-bottom: 28px;
  background-color: #202325c0;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 32px;
  box-shadow: 0 0 12px 1px;
}
.name {
  font-weight: 500;
  margin-bottom: 4px;
  margin-left: 4px;
}
.job-title {
  color: #6da0ff;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
}
.location {
  font-size: 10px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.link-box {
  display: flex;
  margin-left: 4px;
  align-items: center;
  column-gap: 12px;
}

.resume__btn {
  border: 1px solid;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px 12px;
  background-color: #bdbdbd;
  transition: all 300ms ease;
  color: black;
  border: 1px solid black;
}
.resume__btn:hover {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
.links {
  display: flex;
  column-gap: 12px;
}
.info__extra {
  padding: 20px;
  padding-bottom: 36px;
  margin: 0 24px;
  width: 100%;
  max-width: 260px;
  margin-bottom: 28px;
  border: 1px dotted;
  border-radius: 12px;
  text-align: center;
}
.info__extra h3,
.info__extra h4 {
  margin-bottom: 12px;
  color: #afbdbd;
}

.info__extra h4 {
  font-size: 10px;
}

.info__extra p {
  color: #afbdbd;
  font-size: 12px;
}

.link {
  padding: 4px 6px;
  border-radius: 50%;
  background-color: #6f8a9c1f;
  transition: all 300ms ease;
}

.link:hover {
  filter: brightness(1.4);
}

.link-color:nth-child(1) {
  color: grey;
}
.link-color:nth-child(2) {
  color: rgb(252, 57, 132);
}
.link-color:nth-child(3) {
  color: rgb(53, 174, 255);
}
.link-color:nth-child(4) {
  color: rgb(179, 132, 255);
}

.nav__btns {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;
  max-width: 300px;
}
.nav__btn {
  background-image: linear-gradient(
    to right,
    #00422b 20%,
    #03271a 70%,
    #08130f 100%
  );
  box-shadow: inset 0 0 12px 1px #ffffff2f;
  font-size: 24px;
  border: none;
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  color: white;
  text-align: start;
  padding-left: 16px;
  transition: all 300ms ease;
}

.btn__glimmer:hover .nav__btn {
  filter: brightness(1.4);
}

.main__container {
  padding: 80px 0;
}
.main__row {
  padding: 0 40px;
}

.tech-box--wrapper {
  background-color: #023827;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  max-width: 1100px;
  width: 100%;
  border-radius: 12px;
  /* box-sizing: border-box; */
  margin-bottom: 120px;
}

.tech-box {
  padding-top: 12px;
  border-radius: 12px;
  background-image: linear-gradient(
    to top,
    #022218 0%,
    #023827 40%,
    #023827 70%,
    #02382700 100%
  );
  background-color: #032419;

  position: relative;
}

.tech-box::before,
.tech-box::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px;
  z-index: 20;
  pointer-events: none;
}

.tech-box::before {
  border-radius: 12px 0 0 12px;
  left: 0;
  background-image: linear-gradient(
    to right,
    #032419 0%,
    #032e20 20%,
    #023827fb 40%,
    #013827de 50%,
    #023827ab 60%,
    #02382773 70%,
    #0238272d 90%,
    #02382700 100%
  );
}

.tech-box::after {
  border-radius: 0 12px 12px 0;
  right: 0;
  background-image: linear-gradient(
    to left,
    #032419 0%,
    #032e20 20%,
    #023827fb 40%,
    #013827de 50%,
    #023827ab 60%,
    #02382773 70%,
    #0238272d 90%,
    #02382700 100%
  );
}

.tech-box__title {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 12px 40px;
  padding-right: 60px;
  background-image: linear-gradient(
    to right,
    #0d3c45ad 20%,
    #0a4731ee 70%,
    #08130f00 100%
  );
  /* box-shadow: inset 0 0 12px 1px #ffffff2f; */
  border-radius: 12px 8px 8px 8px;
  z-index: 30;
}
.techs {
  position: relative;
  margin-top: 32px;
  z-index: 15;
}

.tech__slider {
  width: 100%;
}

.tech {
  position: relative;
  padding: 12px;
  margin: 12px;
  margin-top: 16px;
  margin-bottom: 44px;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #35356d75;
  box-shadow: 0 0 12px 4px #00000056;
  transition: all 300ms ease;
}

.tech__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  /* max-width: 60px; */
}

.tech__img {
  width: 100%;
  height: 100%;
}

.tech__title {
  position: absolute;
  font-size: 12px;
  letter-spacing: 0.04em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 36px) scale(0);
  opacity: 0;
  transition: all 300ms ease;
}

.tech:hover {
  filter: brightness(1.4);
}

.tech:hover .tech__title {
  transform: translate(-50%, 48px);
  color: white;
  opacity: 1;
}

.techs__cover1,
.techs__cover2 {
  position: absolute;
  top: 0;
  bottom: 0;
}

.tech-box__expand--btn {
  color: #ffffffb0;
  width: 100%;
  max-width: 228px;
  padding: 4px;
  padding-top: 12px;
  border-radius: 0 0 6px 6px;
  background: #3041774f;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(0.09em);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid #30417728;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -8px);
  transition: all 300ms ease;
  z-index: -1;
}

.tech-box__expand--btn:hover {
  transform: translate(-50%, -4px);
  color: white;
  background: #3041772f;
}
.tech-box__expand--btn:hover:active {
  transform: translate(-50%, -2px);
}
.tech-box__expand--btn:focus {
  transform: translate(-50%, -40px);
  opacity: 0;
}

.tech-box-test {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.288);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 25;
  border-radius: 12px;
  pointer-events: none;
  box-shadow: inset 0 0 12px 16px #01110c;
}

.about-me__container {
  padding: 60px 0;
}

.about-me {
  margin: 0 auto;
  box-shadow: inset 0 0 12px rgba(255, 255, 255, 0.5);
  padding: 28px;
  padding-bottom: 80px;
  width: 100%;
  border-radius: 8px;
  max-width: 1000px;
  background: #38156654;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid rgba(48, 65, 119, 0.3);
}

.about-me__header {
  margin-left: 12px;
}

.about-me__para {
  /* text-indent: 2em; */
  padding: 0 60px;
  padding-top: 40px;
  padding-bottom: 60px;
  font-size: 24px;
}

#my-projects {
  margin-top: 60px;
}

.projects__header {
  margin: 0 auto;
  margin-bottom: 72px;
  text-align: center;
}

.projects__container {
  box-shadow: 12px 0 32px 40px #1508253f;
  background-color: #1508253f;
  padding: 20px 0;
  padding-bottom: 100px;
}

.projects__row {
  padding: 0 60px;
}

.project-box {
  position: relative;
  padding: 40px;
  border-radius: 24px;
  margin: 0 auto;
}

.projects {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 60px 80px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.project0 {
  grid-area: 1/1;
}
.project1 {
  grid-area: 1/2;
}
.project2 {
  grid-area: 2/1;
}
.project3 {
  grid-area: 2/2;
}
.project4 {
  grid-area: 3/1;
}
.project5 {
  grid-area: 3/2;
}

.project0,
.project1,
.project2,
.project3,
.project4,
.project5 {
  width: 100%;
  box-shadow: 0 0 20px 6px #eeeeee;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.project--active {
  box-shadow: 0 0 40px 28px #0c803ca4;
  transform: scale(1.1);
}

.project--active,
.projects--inactive {
  pointer-events: none;
}

.project__details {
  position: absolute;
  top: 0%;
  left: 0%;
  scale: 40%;
  display: flex;
  border-radius: 20px;
  border: 4px double white;
  padding: 20px 40px;
  width: 100%;
  max-width: 1000px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-60%, -55%);
  transition: all 300ms ease;
  background-color: #1c0b33;
  box-shadow: inset 0 0 100px 40px rgba(0, 0, 0, 0.829);
  animation: topLeftZoomIn 300ms ease forwards;

  z-index: 20;
}
.project__wrapper {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.project__img--cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 100px 40px rgba(0, 0, 0, 0.829);
  transition: all 300ms ease;
}

.project__img--cover--inactive {
  background-color: #022218a4;
}

.project__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
}

.project__details--hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 300ms ease;
  opacity: 0;
}

.project0:hover .project__img,
.project1:hover .project__img,
.project2:hover .project__img,
.project3:hover .project__img,
.project4:hover .project__img,
.project5:hover .project__img {
  scale: 1.1;
  filter: blur(4px);
}
.project0:hover .project__img--cover,
.project1:hover .project__img--cover,
.project2:hover .project__img--cover,
.project3:hover .project__img--cover,
.project4:hover .project__img--cover,
.project5:hover .project__img--cover {
  background-color: #1c0b33c4;
}
.project0:hover .project__details--hover,
.project1:hover .project__details--hover,
.project2:hover .project__details--hover,
.project3:hover .project__details--hover,
.project4:hover .project__details--hover,
.project5:hover .project__details--hover {
  transform: translateY(0%);
  opacity: 1;
}
.project__details--hover h3 {
  transition: all 300ms ease;
  font-size: 24px;
}
.project__details--hover h3:hover {
  text-decoration: underline;
}

.project__title {
  font-size: 44px;
  font-weight: 600;
  text-align: center;
}

.project__para {
  margin: 60px 0;
  font-size: 24px;
  width: 80%;
}

.project__exit {
  position: absolute;
  font-size: 32px;
  padding: 20px;
  top: 40px;
  right: 40px;
  transition: all 300ms ease;
}
.project__exit:hover {
  transform: scale(1.1);
}

.project__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.project__link {
  background-color: #3e3164;
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  border-radius: 12px;
  border: 1px solid white;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.452);
  transition: all 100ms ease;
  animation: rotate-fade 900ms;
  animation-fill-mode: forwards;
  opacity: 0;
}
.project__link p {
  transform: rotate(-45deg);
}

.project__link:hover {
  transform: rotate(45deg) scale(1.1);
  filter: brightness(1.2);
}
.project__link:hover:active {
  transform: rotate(45deg) scale(1) translate(4px, 4px);
  box-shadow: none;
}

.used-techs {
  display: flex;
  width: 90%;
  column-gap: 20px;
  align-items: center;
  margin-top: 60px;
  flex-wrap: wrap;
}
.used-techs p {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.used-tech {
  padding: 4px 24px;
  border: 1px solid white;
  font-size: 12px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.664);
  transform: translateX(12px);
  transition: all 150ms ease;
  margin-bottom: 24px;
  opacity: 0;
}

.used-tech:hover {
  transform: translate(-8px);
  box-shadow: 0px 12px 4px 2px rgba(0, 0, 0, 0.253);
}

.footer__container {
  padding: 60px 0;
}

.footer__row {
  padding: 0 120px;
}

.footer {
  background-color: #433e886e;
  box-shadow: inset 0 0 40px 16px #100522;
  position: relative;
}

.footer__links {
  background-color: #2c091ba6;
  box-shadow: inset 0 0 12px 12px rgba(255, 255, 255, 0.26), 0 0 24px 12px #80808048;
  border-radius: 20px;
  margin: 0 auto;
  column-gap: 20px;
  width: 100%;
  max-width: 800px;
  padding: 40px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.footer__logo--img {
  width: 100%;
  height: 100%;
}




.footer__logo {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 0 16px;
  box-shadow: 0 0 12px 4px #a1a1bbfd;
  border-radius: 50%;
  background-color: #a1a1bbfd;
}

.footer__bg--wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.footer__bg {
  transform: scale(1.3);
  width: 100%;
  height: 100%;
}

@keyframes rotate-fade {
  0% {
    transform: rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: rotate(45deg);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes topLeftZoomIn {
  0% {
    top: 0%;
    left: 0%;
    scale: 40%;
    opacity: 0;
    transform: translate(-60%, -55%);
  }
  100% {
    top: 50%;
    left: 50%;
    opacity: 1;
    scale: 100%;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeLeft {
  0% {
    transform: translateX(12px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
